<div class="page-header">
  <h1>Loan Requests for <%= @category.title %></h1>
</div>

<br>

<%= render "shared/lender_thumbnail" %>

</div>

<!--Pagination-->
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <%= will_paginate @loan_requests %>
      </li>
    </ul>
  </div>
</div>
